form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
  
.nz-form-item {
margin-bottom: 20px;
}
  
nz-form-label {
font-size: 16px;
font-weight: bold;
}
  
nz-form-control {

    .ant-select-arrow {
        font-size: 18px;
        color: #1890ff; 
    }

    .ant-select-focused {
        border-color: #1890ff;  
    }
}

button[nz-button] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #40a9ff;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 1px 20px;
    border: 2px solid #40a9ff;
    transition: all 0.3s ease;
    width: 125px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button[nz-button]:hover {
  background-color: #1890ff; 
  border-color: #1890ff; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
}

button[nz-button]:disabled {
  background-color: #d9d9d9; 
  border-color: #d9d9d9; 
  color: #bfbfbf; 
  cursor: not-allowed; 
  box-shadow: none; 
} 