<div class="register-container">
    <h2>Register</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Email</nz-form-label>
        <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Password</nz-form-label>
        <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
          <input nz-input type="password" formControlName="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
          <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
          <div *ngIf="registerForm.get('confirmPassword')?.hasError('mismatch')" class="error-message">
            Passwords do not match!
          </div>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-control [nzSpan]="17" [nzOffset]="5">
          <button nz-button nzType="primary" [disabled]="!registerForm.valid">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  